doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title bullgit pro™
  body
    form(action='/request', method='post')
      input#title(type='text', name='title', placeholder='title')
      textarea#message(name='message', placeholder='message')
      input(type='submit')
