doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title bullgit pro™
  body
    h1 Nice!
    p
      | Our trained professional&nbsp;
      em
        a(href=assignee.url)= assignee.name
      |  will now start working on:
    p
      strong= title
    p With comment:&nbsp;
    blockquote= message
    p
      | All while taking in account to&nbsp;
      em= constraint
